extends ../layout

include ../mixins/formElements/_formContainer
include ../mixins/formElements/_fields

block content
    
    +formContainer("Client", client)

        +fieldGroup()
            +input("First Name", "text", "firstName", "First Name", client.firstName, true)
            +input("Last Name", "text", "lastName", "Last Name", client.lastName, true)

        +fieldGroup()
            +input("Email", "email", "email", "Email", client.email)

        +fieldGroup()
            +input("Home Phone", "text", "homePhone", "(709) 555-1234", client.homePhone)
            +input("Last Name", "text", "mobilePhone", "(709) 555-4321", client.mobilePhone)

        +fieldGroup()
            +textArea("Address", "address", "123 Main St\nSt. John's, NL\nA1A 1A1", client.address)
        
        +fieldGroup()
            +textArea("Notes", "notes", "Enter Notes...", client.notes)

    script(src="/dist/EditClient.bundle.js")
