<h1>Clients</h1>

<table id="clientsTable"></table>

<script>
    $("#clientsTable").bootstrapTable({
        url: '/clients',
        responseHandler: function (res) {
            console.log(res.clients)

            res.clients.forEach(c => {
                c.id = c._index;
                c.fullName = c.firstName + " " + c.lastName;
            });



            return res.clients
        },
        striped: true,
        search: true,
        showColumns: true,
        showRefresh: true,
        iconsPrefix: "fas",
        icons: {
            paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
            paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
            refresh: 'fa-sync-alt',
            toggle: 'fa-list-alt',
            columns: 'fa-th-list',
            detailOpen: 'glyphicon-plus icon-plus',
            detailClose: 'glyphicon-minus icon-minus'
        },
        columns: [
            {
                field: "id",
                title: "Client Number",
                sortable: true
            },
            {
                field: "fullName",
                title: "Client Name"
            },
            {
                field: "email",
                title: "Email"
            },
            {
                field: "homePhone",
                title: "Home Phone"
            },
            {
                field: "mobilePhone",
                title: "Mobile Phone"
            },
            {
                field: "streetAddress",
                title: "Street Address"
            },
            {
                field: "city",
                title: "City"
            },
            {
                field: "province",
                title: "Province"
            },
            {
                field: "postCode",
                title: "Post Code"
            }
        ],
    })
</script>