<h1>Settings</h1>

<div id="inspectors">
    <h2>Inspectors</h2>
    <div id="inspectorEditField">
        <input id="newInpspInput" type="text" placeholder="Inspector name">
        <button class="addBtn btn btn-success">Add</button>
    </div>
    <div id="inspectorBody">
    </div>
</div>