<h1>Settings</h1>

<div id="inspectors">
    <h2>Inspectors</h2>
    <div id="inspectorEditField">
        <input id="newInspInput" type="text" placeholder="Inspector name">
        <button class="addBtn btn btn-success">Add</button>
    </div>
    <div id="inspectorBody">
    </div>
</div>

<div id="contractors">
    <h2>Contractors</h2>
    <div id="contractorEditField">
        <input id="newContInput" type="text" placeholder="Contractor name">
        <button class="addBtn btn btn-success">Add</button>
    </div>
    <div id="contractorBody">
    </div>
</div>

<div id="specs">
    <h2>Specs</h2>
    <div id="specEditField">
        <input id="newSpecInput" type="text" placeholder="Spec name">
        <input id="newSpecInputFile" type="file">
        <button class="addBtn btn btn-success" disabled="disabled">No File</button>
    </div>
    <div id="specBody">
    </div>
</div>