<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Turpis nunc eget lorem dolor. Orci sagittis eu volutpat odio facilisis mauris sit. Magna
                    eget est lorem ipsum dolor sit amet consectetur adipiscing. Vulputate sapien nec sagittis aliquam malesuada
                    bibendum. Malesuada proin libero nunc consequat interdum varius sit amet. Ut diam quam nulla porttitor
                    massa id neque aliquam vestibulum. In eu mi bibendum neque egestas. Etiam non quam lacus suspendisse
                    faucibus interdum posuere lorem. Id velit ut tortor pretium viverra. Eu tincidunt tortor aliquam nulla
                    facilisi. Sit amet volutpat consequat mauris. Sed arcu non odio euismod lacinia at quis risus. Pulvinar
                    mattis nunc sed blandit. Enim nec dui nunc mattis enim ut tellus elementum. Erat velit scelerisque in
                    dictum non consectetur. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Dui vivamus
                    arcu felis bibendum ut tristique. Neque convallis a cras semper auctor
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>