// Custom Variables

// Bulma with flaty theme
$box-background-color: #fafafa !important;
$box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2) !important;
@import "~bulmaswatch/flatly/_variables.scss";
@import "~bulma/bulma";
@import "~bulmaswatch/flatly/_overrides.scss";
@import "~bulma-divider";

nav h1 {
  font-weight: bold;
}

#navMenu {
  border-radius: 0 !important;
}

// #appBody {
//   padding: 1em;
// }

@keyframes flashOpen {
  0% {
    max-height: 0;
    left: -120%;
    opacity: 0;
  }

  100% {
    max-height: 500px;
    left: 0;
    opacity: 1;
  }
}

@keyframes flashClose {
  0% {
    max-height: 500px;
    left: 0;
    opacity: 1;
  }
  100% {
    max-height: 0;
    left: -100%;
    opacity: 0;
  }
}

$flashes: 5;
@for $i from 0 to $flashes {
  .message.open:nth-of-type(#{$i + 1}) {
    animation-delay: $i * 0.5s;
  }
}

.message {
  position: relative !important;

  max-height: 0;
  left: -100%;
  opacity: 0;

  &.open {
    animation: flashOpen 1s forwards;

    animation-fill-mode: forwards;
  }
  &.closed {
    animation: flashClose 1s backwards;
    animation-fill-mode: forwards;
  }
}

.is-multi-line {
  white-space: pre-wrap;
}

.notes-display {
  max-height: 200px;
  overflow: hidden scroll;
}

.settingsTable {
  max-height: 300px;
  overflow: hidden auto;
}

td {
  vertical-align: middle !important;
}
