#login {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  #header {
    width: 100%;
    height: 20px;
    background-color: $primary;
    padding: 10px;

    #title {
      color: $white;
      font-family: $headingFont;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }
  }

  #loginHeader {
    font-family: $headingFont;
    text-align: center;
    color: $primary;
    font-size: 4em;
    margin-top: 20vh;
  }

  #passwordField {
    button {
      background-color: $green;
      color: $white;
      border-color: $white;
      font-weight: bold;
      padding: 0;
    }
  }

  #warningBox {
    border: 2px solid $white;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
    font-family: $textFont;
    color: $white;
    background-color: $red;
    font-weight: bold;
    opacity: 0;

    transition: opacity 1s;

    @media (max-width: 450px) {
      padding: 0;
    }

    text-align: center;

    svg {
      margin-right: 10px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      margin-top: 4px;
    }
  }

  #warningBox.active {
    opacity: 1;
  }

  body {
    padding-top: 5em;
  }

  label {
    text-align: center;
    opacity: 0.25;
    font-size: 2em;
    display: block;
  }

  h1 {
    margin: 1.5em 0 1em 0;
  }

  input {
    font-size: 20px;
    text-align: center;
    text-indent: 6em;
    z-index: 1;
  }

  label {
    margin: 10px 0 -65px 0;
    padding: 0;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 100;
  }

  .alert {
    transform: rotateX(90deg);
    opacity: 0;

    position: relative;
    top: 20px;

    transition: transform 1s, opacity 1s;
  }

  .alert.active {
    transform: rotateX(0);
    opacity: 1;
  }
}
