#loginTab {
  h1#loginHeader {
    text-align: center;
    font-size: 3em;
  }

  #passwordField {
    input {
      font-size: 2em;
      border-radius: 10px;

      padding: 5px;
      width: 33%;
      min-width: 350px;

      border: none;
      display: block;
      margin: 0 auto;
    }

    button {
      display: block;

      margin: 10px auto;
      font-size: 1.5em;
      padding: 5px 20px;

      border: 2px solid $primary;
      background-color: $primary;
      border-radius: 10px;
      color: white;
      width: 33%;
      min-width: 350px;
      text-transform: capitalize;

      transition: background-color 0.1s transform 0.1s;

      &:hover {
        background-color: lighten($primary, 5);
      }

      &:active {
        background-color: darken($primary, 5);
        transform: scale(0.95);
      }
    }
  }

  #warningBox {
    background-color: $red;
    color: white;
    text-align: center;
    width: 33%;
    min-width: 350px;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;

    opacity: 0;
    transition: opacity 1s;
    i,
    svg {
      position: absolute;
      left: 10px;
      top: 12px;
    }

    &.active {
      opacity: 1;
    }
  }
}
