#inspectors,
#contractors,
#specs {
  width: 25%;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 5px;
  float: left;

  margin-left: 6%;
}

#inspectors h2,
#contractors h2,
#specs h2 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 5px;
}

#newInspInput,
#newContInput {
  width: 65%;
  margin-left: 5px;
  margin-right: 5%;
  text-indent: 0.5em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.nameEdit,
.inspectorName,
.contractorName {
  display: inline-block;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

#inspectors .addBtn,
#contractors .addBtn {
  width: 24%;
  height: 30px;
  padding: 0 12px;
  margin-bottom: 5px;
}

#specs input {
  width: 35%;
  margin-left: 1%;
}

#specs #newSpecInputFile {
  font-size: 0.75em;
}

#specs .addBtn {
  float: right;
  margin-left: 0;
  margin-right: 5%;
}

#inspectorBody,
#contractorBody,
#specBody {
  margin-top: 10px;
  height: 200px;
  overflow-x: none;
  overflow-y: scroll;
}

#inspectorBody button,
#contractorBody button,
#specBody button {
  float: right;
  height: 30px;
  padding: 0 12px;
  margin: 0 10px;
  margin-bottom: 5px;
}

#inspectorBody .inspectorListItem,
#contractorBody .contractorListItem,
#specBody .specListItem {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  height: 40px;
}

#inspectorBody .inspectorListItem:nth-child(odd),
#contractorBody .contractorListItem:nth-child(odd),
#specBody .specListItem:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#inspectorBody .inspectorName,
#contractorBody .contractorName,
#specBody .specName {
  font-size: 1.2em;
}

#inspectorBody button i,
#contractorBody button i,
#specBody button i {
  pointer-events: none !important;
}

#inspectors.editLocked button:not(.activeEdit),
#contractors.editLocked button:not(.activeEdit),
#specs.editLocked button:not(.activeEdit) {
  pointer-events: none;
  background-color: gray;
  /* display: none; */
}

.specFileName {
  float: right;
}
