body {
  margin: 0 0 0 0;
  background: linear-gradient(
    180deg,
    rgba(0, 112, 210, 1) 0%,
    rgba(0, 112, 210, 1) 50%,
    #eee 99%
  );

  background-attachment: fixed;
}

nav {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid $primary;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: $textFont;
  background-color: #eee;

  h1 {
    line-height: 40px;
    margin: 0 calc(0.75vw + 5px);
    float: left;
    font-size: 20px;
    vertical-align: middle;
  }

  ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    cursor: pointer;

    #itemTabs {
      display: inline-block;
      border-left: 1px solid rgba(0, 0, 0, 0.25);
      margin: 0 10px;

      li {
        margin: 0 10px;
      }
    }

    li {
      float: left;
      line-height: 35px;
      margin: 0;
      font-size: 13px;
      height: 40px;
      padding: 0 30px;

      transition: background-color 0.5s, border-top 0.5s;
      box-sizing: border-box;

      border-top: 5px solid rgba(0, 0, 0, 0);
      min-width: 55px;
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    li.active {
      border-top: 5px solid $primary;
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

#tabs > div {
  display: none;
  &.active {
    display: block;
  }

  overflow: auto;

  width: 98.5vw;
  min-height: calc(99vh - 65px);

  margin: 0.5vw auto;
  border-radius: 5px 5px 0 0;
  background-color: #efefef;

  padding: 5px;
}

#logout {
  // background-color: $red;
  color: $red;
  float: right;
  font-weight: bold;

  transition: color 0.5s, background-color 0.5s;

  font-size: 15px;

  &:hover {
    color: $white;
    background-color: darken($color: $red, $amount: 10%);
  }
}

.tab {
  // padding: 20px;
}
