include mixins/_flashes


<!DOCTYPE html>
html(lang="en")
    head
        title= `${title} | ${h.siteName}`
        link(rel='stylesheet', href='/dist/Common.css')
        link(rel="shortcut icon" type="image/ico" href="/images/favicon.ico")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        nav.navbar.is-primary
            if user
                .navbar-brand
                    h1.navbar-item Sewer App
                    a.navbar-burger(role="button" data-target="navMenu")
                        span
                        span
                        span

                .navbar-menu#navMenu
                    .navbar-start
                        each item in h.menu
                            a(href=item.path class=(currentPath.startsWith(item.path) ? "is-active" : "")).navbar-item.is-tab= item.title

                    .navbar-end
                        .navbar-item
                            .buttons
                                a(data-method="post" href="/auth/logout").button.is-danger Log out 

        section.section#appBody
            +flashes(flashes)

            block content
                p Default

    block scripts
      script(src="/dist/Common.bundle.js")
      script(defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous")