<!DOCTYPE html>
html(lang="en")
    head
        title= `${title} | ${h.siteName}`
        link(rel='stylesheet', href='/dist/Common.css')
        link(rel="shortcut icon" type="image/ico" href="/images/favicon.ico")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        nav.navbar.is-primary
            .navbar-brand
                h1.navbar-item Sewer App
                a.navbar-burger(role="button" data-target="navMenu")
                    span
                    span
                    span

            .navbar-menu#navMenu
                .navbar-start
                    each item in h.menu
                        a(href=item.path class=(currentPath.startsWith(item.path) ? "is-active" : "")).navbar-item.is-tab= item.title

                if user || true
                    .navbar-end
                        .navbar-item
                            .buttons
                                a(data-method="post" href="/logout").button.is-danger Log out 

        block content
            p Default

    block scripts
      script(src="/dist/Common.bundle.js")