extends layout

block content
    h2 Log In
    a(href="/auth/google")
        img(src="/images/googleBtn.png", alt="Sign in with google")

    script(src="/dist/Login.bundle.js")
    link(rel='stylesheet', href='/dist/Login.css')

