doctype html
html
    include includes/head.pug
    body
        nav
            h1 Kenny Meade Septic Design
            ul
                li.home.active Home
                li.systems Systems
                li.clients Clients
                li.invoices Invoices
                li.analytics Analytics
                li.settings Settings
                li.logout#logout Log Out

    #tabs
        #homeTab.active.tab

        #systemsTab.tab
            include includes/table.pug

        #clientsTab.tab
            include includes/table.pug

        #invoicesTab.tab
            include includes/table.pug

        #analyticsTab.tab
            h2 Analytics

        #settingsTab.tab
            h2 Settings

    include includes/footer.pug