doctype html
html
    include includes/head.pug
    body
        nav
            h1 Kenny Meade Septic Design
            ul
                li.home.active Home
                li.systems Systems
                li.clients Clients
                li.invoices Invoices
                li.analytics Analytics
                li.settings Settings
                li.logout#logout Log Out

    #tabs
        #homeTab.active

        #systemsTab
            h2 Systems
            include includes/table.pug


        #clientsTab
            h2 Clients

        #invoicesTab
            h2 Invoices

        #analyticsTab
            h2 Analytics

        #settingsTab
            h2 Settings

    include includes/footer.pug