<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sewer App</title>

    {{>headLinks}}

</head>

<body>



    <ul class="nav nav-tabs " id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="systems-tab" data-toggle="tab" href="#systems" role="tab" aria-controls="systems" aria-selected="false">Systems</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="clients" aria-selected="false">Clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="analytics-tab" data-toggle="tab" href="#analytics" role="tab" aria-controls="clients" aria-selected="false">Analytics</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" id="blank-tab"><br /></a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="clients" aria-selected="false">Settings</a>
        </li>
    </ul>
    <div class='container-fluid'>
        <div class='row'>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{>home}}
                </div>
                <div class="tab-pane fade" id="systems" role="tabpanel" aria-labelledby="systems-tab">
                    {{>systems}}
                </div>
                <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">
                    {{>clients}}
                </div>
                <div class="tab-pane fade" id="analytics" role="tabpanel" aria-labelledby="analytics-tab">
                    {{>analytics}}
                </div>
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    {{>settings}}
                </div>
            </div>
        </div>
    </div>

    </div>

    {{>systemModal}} {{>userModal}}



</body>

</html>