doctype html
html
    include includes/head.pug
    body
        nav
            h1 Kenny Meade Septic Design
            ul
                li.active Home
                li Systems
                li Clients
                li Invoices
                li Analytics
                li Settings
                li#logout Log Out

    #tabs
        #homeTab.active
            include includes/table.pug

        #systemsTab
            h2 Systems

        #clientsTab
            h2 Clients

        #invoicesTab
            h2 Invoices

        #analyticsTab
            h2 Analytics

        #settingsTab
            h2 Settings

    include includes/footer.pug