doctype html
html
    include includes/head.pug
    body
        nav
            h1 Kenny Meade Septic Design
            ul
                li.home Home
                li.systems Systems
                li.clients Clients
                li.invoices Invoices
                li.analytics Analytics
                li.settings Settings

                #itemTabs

                li.logout#logout Log Out

    #tabs
        #home.tab

        #systems.tab
            include includes/table.pug

        #clients.tab
            include includes/table.pug

        #invoices.tab
            include includes/table.pug

        #analytics.tab
            h2 Analytics

        #settings.tab
            h2 Settings

    include includes/footer.pug