<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sewer App - Login</title>

    {{>headLinks}}

    <style>
        body {
            padding-top: 5em;
        }

        label {
            text-align: center;
            opacity: 0.25;
            font-size: 2em;
            display: block
        }

        h1 {
            margin: 1.5em 0 1em 0;
        }

        input {
            font-size: 20px;
            text-align: center;
            text-indent: 6em;
            z-index: 1;
        }

        label {
            margin: 10px 0 -65px 0;
            padding: 0;
        }

        .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            z-index: 100;
        }

        .alert {
            transform: rotateX(90deg);
            opacity: 0;

            position: relative;
            top: 20px;

            transition: transform 1s, opacity 1s;
        }

        .alert.active {
            transform: rotateX(0);
            opacity: 1;

        }
    </style>

</head>

<body>
    <div class="container">
        <h1 class='display-1 text-center'>Sewer App</h1>

        <div class='row justify-content-md-center'>

            <div class="col-md-8">

                <form class="form">
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </span>
                    </div>

                    <label class='' for='password'>Enter Password To Log In</label>


                    <div class="alert alert-danger" role="alert">
                        Incorrect Password
                    </div>

                </form>
            </div>

        </div>

    </div>

    <script>
        $('form').submit(e => {
            e.preventDefault();
            $('.alert').removeClass('active');

            var password = $('#password').val().trim();

            if (!password) return;

            $.post({
                url: '/users/login',
                data: { password },
            }).done(data => {
                if (!data.token) throw "ERROR";

                window.location.href = "/"

            }).fail(err => {
                if (err.status == 400) {
                    $('.alert').toggleClass('active');
                } else {
                    alert("UNKNOWN ERROR");
                }
            })


        });
    </script>

</body>

</html>


{{!-- <input type='password' class='form-control input-lg' placeholder="" id='password' aria-label="Large">

<label class='' for='password'>Enter Password To Log In</label> --}}