html
    include includes/head.pug

    body#loginPage
        #header
            h1#title Kenny Meade Septic Design

        .container
            .row
                h1#loginHeader.eight.columns.offset-by-two Enter Password

            #passwordField
                .row
                    input(type='password' placeholder="Password...")#passwordInput.eight.columns.offset-by-two
                .row
                    button#loginButton(value='submit').four.columns.offset-by-four Enter

            .row
                #warningBox.eight.columns.offset-by-two
                    i.fas.fa-exclamation-triangle
                    span The password you entered was incorrect

        script(src="./scripts/loginScreen.js")