html
    include includes/head.pug

    body
        nav
            h1 Kenny Meade Septic Design


        #tabs
            #loginTab.tab.active

                h1#loginHeader Enter Password

                #passwordField
                    input(type='password' placeholder="Password...")#passwordInput
                    button#loginButton(value='submit') Enter

                
                #warningBox
                    i.fas.fa-exclamation-triangle
                    span The password you entered was incorrect

    script(src="./scripts/helpers.js")
    script(src="./scripts/loginScreen.js")
