body {
  padding: 2px 1vw;
  background-color: #eee;
}

h1 {
  text-align: center;
}
#bodyRow {
  border: 1px solid rgb(222, 226, 230);
  border-top: none;
  border-radius: 0 5px 5px 5px;

  padding: 20px;
  background-color: rgb(250, 250, 250);
}

.nav-tabs a:not(.active) {
  background-color: rgb(245, 245, 245);
  color: #111;
  border-bottom: 1px solid rgb(222, 226, 230);
}

.nav-tabs .nav-item a.active {
  background-color: rgb(250, 250, 250);
  font-weight: bold;
  border-bottom: 1px solid rgb(250, 250, 250);
}

.modal-content {
  width: 80vw;
  min-height: 98vh;
}

.modal-dialog {
  margin: 1vh 10vw;
}

#logOutButton {
  position: absolute;
  top: 5px;
  right: 20px;

  font-size: 14px;

  height: 35px;
  width: 70px;
  padding: 0;
}

.tab-content {
  width: 100%;
}

.bootstrap-table .dropdown-menu {
  width: 250px;
}

.bootstrap-table .search {
  display: inline-block;
  width: calc(100% - 300px);
  margin: 0;
}

.bootstrap-table .columns {
  margin: 0 0 5px 0;
}

.bootstrap-table .columns > * {
  display: inline-block;
  width: 75px;
}

.bootstrap-table .columns .btn-success {
  width: 150px;
}

.clientInfoPair {
  font-size: 1.05em;
  /* background: green; */
  /* border: 1px solid purple; */
}

.clientInfoPair label {
  font-weight: bold;
  /* background: red; */
  /* width: 25%; */
  /* text-align: right; */
  padding-left: 10%;
}

.clientInfoPair span {
  /* background: blue; */
}

#clientForm,
.clientInfo {
  width: 95%;
  border: 1px solid #efefef;
  border-radius: 5px;

  padding: 25px;
  margin: 0 auto;
  box-shadow: #eee 2px 2px 2px 1px;
}

#clientForm label {
  text-align: right;
  width: auto;
}

#clientForm .form-group {
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;
  box-shadow: #eee 2px 2px 2px 1px;
}

.clientFormContainer {
  position: relative;

  margin: 20px auto;
}

#clientForm {
  padding: 4% 2% 0 2%;
  background-color: #fafafa;
}

#clientForm .form-group legend {
  position: absolute;
  top: -20px;
  background: #777;
  color: white;
  width: auto;
  padding: 0 10px 5px 10px;

  border: 1px solid #eee;
  border-radius: 2px;
  text-align: center;
}

#clientForm .form-group label {
  margin-bottom: 0;
  margin-top: 10px;
}

#clientForm h3 {
  text-align: center;
  left: 35%;
  position: absolute;
  top: -25px;
  width: 30%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  font-weight: normal;
}

#clientForm .form-group {
  padding: 15px 10px 10px 10px;
  margin-bottom: 40px;
  background-color: #fdfdfd;
  border-radius: 5px;
}

#clientInfoLegend,
#clientNotesLegend {
  right: 10px;
}

#clientNameLegend,
#clientMailLegend {
  left: 10px;
}

#clientNotes {
  resize: none;
  width: 100%;
  height: 262px;
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 5px;
}

#clientModal .modal-title {
  display: block;
  width: 100%;
  text-align: center;
  /* text-indent: 30px; */
  font-size: 1.75em;
  margin: -10px 0 -15px 0;
  color: #666;
}

#clientModal .modal-header .close {
  position: absolute;
  top: 0;
  right: 5px;
}

#clientDeleteButton {
  float: right;
  position: absolute;
  right: 1%;
  height: 100%;
  bottom: 0.5px;
  opacity: 0.25;
  transform-origin: center;
  transition: transform 0.25s;
}

#clientDeleteButton:hover {
  opacity: 1;
  color: #c0392b;
  transform: scale(1.1);
}

#clientDeleteButton:active {
  opacity: 1;
  color: #c33;
  transform: scale(0.9);
}

.systemInfoPair {
  font-size: 1.05em;
  /* background: green; */
  /* border: 1px solid purple; */
}

.systemInfoPair label {
  font-weight: bold;
  /* background: red; */
  /* width: 25%; */
  /* text-align: right; */
  padding-left: 10%;
}

.systemInfoPair span {
  /* background: blue; */
}

#systemForm,
.systemInfo {
  width: 95%;
  border: 1px solid #efefef;
  border-radius: 5px;

  padding: 25px;
  margin: 0 auto;
  box-shadow: #eee 2px 2px 2px 1px;
}

#systemForm label {
  text-align: right;
  width: auto;
}

#systemForm .form-group {
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;
  box-shadow: #eee 2px 2px 2px 1px;
}

.systemFormContainer {
  position: relative;

  margin: 20px auto;
}

#systemForm {
  padding: 4% 2% 0 2%;
  background-color: #fafafa;
}

#systemForm .form-group legend {
  position: absolute;
  top: -20px;
  background: #777;
  color: white;
  width: auto;
  padding: 0 10px 5px 10px;

  border: 1px solid #eee;
  border-radius: 2px;
  text-align: center;
}

#systemForm .form-group label {
  margin-bottom: 0;
  margin-top: 10px;
}

#systemForm h3 {
  text-align: center;
  left: 35%;
  position: absolute;
  top: -25px;
  width: 30%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  font-weight: normal;
}

#systemForm .form-group {
  padding: 15px 10px 10px 10px;
  margin-bottom: 40px;
  background-color: #fdfdfd;
  border-radius: 5px;
}

#systemInfoLegend,
#systemNotesLegend {
  right: 10px;
}

#systemNameLegend,
#systemMailLegend {
  left: 10px;
}

#systemNotes {
  resize: none;
  width: 100%;
  height: 262px;
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 5px;
}

#systemModal .modal-title {
  display: block;
  width: 100%;
  text-align: center;
  /* text-indent: 30px; */
  font-size: 1.75em;
  margin: -10px 0 -15px 0;
  color: #666;
}

#systemModal .modal-header .close {
  position: absolute;
  top: 0;
  right: 5px;
}

#systemDeleteButton {
  float: right;
  position: absolute;
  right: 1%;
  height: 100%;
  bottom: 0.5px;
  opacity: 0.25;
  transform-origin: center;
  transition: transform 0.25s;
}

#systemDeleteButton:hover {
  opacity: 1;
  color: #c0392b;
  transform: scale(1.1);
}

#systemDeleteButton:active {
  opacity: 1;
  color: #c33;
  transform: scale(0.9);
}

#inspectors,
#contractors,
#specs {
  width: 25%;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 5px;
  float: left;

  margin-left: 6%;
}

#inspectors h2,
#contractors h2,
#specs h2 {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 5px;
}

#newInspInput,
#newContInput {
  width: 65%;
  margin-left: 5px;
  margin-right: 5%;
  text-indent: 0.5em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.nameEdit,
.inspectorName,
.contractorName {
  display: inline-block;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

#inspectors .addBtn,
#contractors .addBtn {
  width: 24%;
  height: 30px;
  padding: 0 12px;
  margin-bottom: 5px;
}

#specs input {
  width: 35%;
  margin-left: 1%;
}

#specs #newSpecInputFile {
  font-size: 0.75em;
}

#specs .addBtn {
  float: right;
  margin-left: 0;
  margin-right: 5%;
}

#inspectorBody,
#contractorBody,
#specBody {
  margin-top: 10px;
  height: 200px;
  overflow-x: none;
  overflow-y: scroll;
}

#inspectorBody button,
#contractorBody button,
#specBody button {
  float: right;
  height: 30px;
  padding: 0 12px;
  margin: 0 10px;
  margin-bottom: 5px;
}

#inspectorBody .inspectorListItem,
#contractorBody .contractorListItem,
#specBody .specListItem {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  height: 40px;
}

#inspectorBody .inspectorListItem:nth-child(odd),
#contractorBody .contractorListItem:nth-child(odd),
#specBody .specListItem:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#inspectorBody .inspectorName,
#contractorBody .contractorName,
#specBody .specName {
  font-size: 1.2em;
}

#inspectorBody button i,
#contractorBody button i,
#specBody button i {
  pointer-events: none !important;
}

#inspectors.editLocked button:not(.activeEdit),
#contractors.editLocked button:not(.activeEdit),
#specs.editLocked button:not(.activeEdit) {
  pointer-events: none;
  background-color: gray;
  /* display: none; */
}

.specFileName {
  float: right;
}
