head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
    script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    script(src="./scripts/ajax.js")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Open+Sans")
    link(rel="stylesheet", href="./styles/compiled/compiled.css")