.tabHeading
    h2#tableName Table Name
    .filters
        label Search
            input(type="text" placeholder="Search...")
        
        label Min Date
            input(type="Date")
        label Max Date
            input(type="Date")

    button.newButton New Item

table.table
    thead
        tr
            th Item1
            th Item2
            th Item3
    tbody
        tr
            td a
            td b
            td c
        tr
            td d
            td e
            td f


        