
.tableTab
    
    .tableHeading
        h2 Heading
        input(type="text" placeholder="Search...")
        button.newButton New Item

    table
        thead
            tr
                th Item1
                th Item2
                th Item3
        tbody
            tr
                td a
                td b
                td c
            tr
                td d
                td e
                td f


        