mixin systemForm(system = {})
    .container.box
        h2.title.is-2= system._id ? 'Update System' : 'New Syststem'
        form(action=`/add/system/${system._id || ''}` method="POST" enctype="multipart/form-data")

            #SF_people
                h4.title.is-4 People
                .columns
                    .column.is-3
                        .field
                            label.label Inspector
                                .control
                                    .select
                                        select
                                            option Matthew Meade
                                            option Meghan Meade
                    .column.is-3
                        .field
                            label.label Inspector
                                .control
                                    .select
                                        select
                                            option Matthew Meade
                                            option Meghan Meade

                    .column.is-3
                        .field
                            label.label Contractor
                                .control
                                    .select
                                        select
                                            option Matthew Meade
                                            option Meghan Meade 
            #SF_letters
                    .is-divider
                    h4.title.is-4 Cover Letters
                    .columns
                        .column
                            .field
                                label.label Inspector Cover Letter
                                    .control
                                        textarea.textarea(name="inspectorLetterBody")
                        .column
                            label.field
                                .label Inspector Cover Letter
                                    .control
                                        textarea.textarea(name="inspectorLetterBody")
                                        
            #SF_location
                .is-divider
                h4.title.is-4 Location
                .columns
                    .column
                        .columns
                            .column
                                .field
                                    label.label Municipality
                                        .control
                                            input.input(name="municipality")
                        .columns
                            .column
                                .field
                                    label.label Address
                                        .control
                                            input.input(name="address")
                        .columns
                            .column
                                .field
                                    label.label Latitude
                                        .control
                                            input.input(name="location[coordinates][0]" value="47.5849426")#SF_lat
                            .column
                                .field
                                    label.label Longitude
                                        .control
                                            input.input(name="location[coordinates][1]" value="-52.7149954")#SF_lng
                        .columns
                            .column
                                .field
                                    label.label Lot Width
                                        .control
                                            input.input(name="width")
                            .column
                                .field
                                    label.label Lot Height
                                        .control
                                            input.input(name="length")
                        .columns
                            .column
                                .field
                                    label.label Water
                                        .control
                                            .select
                                                select(name="water")
                                                    option Off Site
                                                    option Dug Well
                                                    option Drilled Well
                    .column
                        .field
                            label.label Map
                                img(src="#")#SF_map

            #SF_letters
                    .is-divider
                    h4.title.is-4 Photos

                    .columns
                        .column

                            h5.title.is-5 Site Photos
                            .columns
                                .column.is-11
                                
                                    .file.has-name.is-fullwidth
                                        label.file-label
                                            input.file-input(type="file" name="sitePhotos[0]")
                                            .file-cta
                                                .file-icon
                                                    i.fas.fa-upload
                                                .file-label Choose a file...
                                            .file-name -
                                .column.is-1
                                    i.fas.fa-times.SF_File_Close
                    
                        .column

                            h5.title.is-5 Map Photos
                            .columns
                                .column.is-11
                                
                                    .file.has-name.is-fullwidth
                                        label.file-label
                                            input.file-input(type="file" name="mapPhotos[0]")
                                            .file-cta
                                                .file-icon
                                                    i.fas.fa-upload
                                                .file-label Choose a file...
                                            .file-name -
                                .column.is-1
                                    i.fas.fa-times.SF_File_Close

                            .columns
                                .column.is-11
                                
                                    .file.has-name.is-fullwidth
                                        label.file-label
                                            input.file-input(type="file" name="mapPhotos[1]")
                                            .file-cta
                                                .file-icon
                                                    i.fas.fa-upload
                                                .file-label Choose a file...
                                            .file-name -
                                .column.is-1
                                    i.fas.fa-times.SF_File_Close


                        .column

                            h5.title.is-5 Floor Plans
                            .columns
                                .column.is-11
                                
                                    .file.has-name.is-fullwidth
                                        label.file-label
                                            input.file-input(type="file" name="floorPlans[0]")
                                            .file-cta
                                                .file-icon
                                                    i.fas.fa-upload
                                                .file-label Choose a file...
                                            .file-name -
                                .column.is-1
                                    i.fas.fa-times.SF_File_Close
                            
                                            
                            
                                        
                                    

                
    script(src="/dist/SystemForm.bundle.js")